body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar-span {
    color: brown;
}

.navbar-brand {
    font-weight: bold;
}

#form-control {
    margin-left: 28px;
}